# Netherland Single Cell Minimal Example

This presents a minimal example of how to use the "netherland" model.

In [6]:
import sys
wd = "/Users/rdel1jrk/Documents/dev/netherland/"
sys.path.insert(0, wd)

import pandas as pd

import src.constants as constants
import src.cell as cell

Import cell level constants. In this the default MORRIS_CONSTANTS provided as an example file located: wd/data/morris_constants.toml is used. Only the first cell's information is used (0th index).

In [7]:
K = constants.import_file()[0] # imports morris constants for a single cell.
print(K)

Constants(id=1, sa=1.0, du=0.0, db=-30.0, bo=0.07182, bi=0.1, fo=0.83, k=0.7142, fc=0.2, ro=0.0105, rd=30.0, k1=0.1, k2=0.5, k3=0.0344, sv_to_ro=1.0, wa_to_rl=0.1, b=1.0)

Calling cell.factory() with a constants object creates a single cell with a single bottom layer. To view the data from this layer we call the cell.write_data() command and this returns data, column headers tuple which can be recast and displayed as a pandas data frame.

In [8]:
single_cell = cell.factory(K)
data = single_cell.write_data()
df = pd.DataFrame(data[0], columns=data[1])
df.head()

   top  bottom  depth  biomass     labile  refractory  inorganic
0    0    30.0   30.0   1.3892  18.997571    4.749393   4.863836

Calling the cell.step_forward() function updates the cell by generating a new layer (and returning a new cell with both layers). The updated cell data is printed again displayed as a dataframe.

In [9]:
single_cell = single_cell.step_forward(dep=1.0, top=K.ro, yrs=1.0, sub_steps=1)
pd.DataFrame(single_cell.write_data()[0], columns=data[1]).head()

         top  bottom      depth   biomass     labile  refractory  inorganic
0   0.000000     1.0   1.000000  0.139127   0.664000    0.166000   0.170000
1  14.286978    30.0  15.713022  1.048005  33.384883    4.954204   4.888997